<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>comocomo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D9F9E97C1C8D919200C23D1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9F9E9921C8D919300C23D1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9F9E99D1C8D919300C23D1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
